@mixin wrapper {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@mixin no-mobile {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin no-desktop {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
   @media (min-width: #{$desktop-width}) {
    @content;
  }
}
