$base-color: white;
$base-bg-color: blue;

$ptsans: "PT Sans", "Arial", "Helvetica", sans-serif;
$georgia: "Georgia",  "Times New Roman", "Times", serif;

$tablet-width: 665px;
$desktop-width: 1024px;
